[Unit]
Description=kube-apiserver nginx proxy
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStartPre={{ K8S_DIR }}/kube-nginx/sbin/kube-nginx -c {{ K8S_DIR }}/kube-nginx/conf/kube-nginx.conf -p {{ K8S_DIR }}/kube-nginx -t
ExecStart={{ K8S_DIR }}/kube-nginx/sbin/kube-nginx -c {{ K8S_DIR }}/kube-nginx/conf/kube-nginx.conf -p {{ K8S_DIR }}/kube-nginx
ExecReload={{ K8S_DIR }}/kube-nginx/sbin/kube-nginx -c {{ K8S_DIR }}/kube-nginx/conf/kube-nginx.conf -p {{ K8S_DIR }}/kube-nginx -s reload
PrivateTmp=true
Restart=always
RestartSec=5
StartLimitInterval=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
