[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory={{ ETCD_DIR }}/lib/etcd/
ExecStart={{ ETCD_DIR }}/bin/etcd \
  --client-cert-auth \
  --cert-file={{ ETCD_DIR }}/etc/kubernetes/ssl/etcd.pem \
  --key-file={{ ETCD_DIR }}/etc/kubernetes/ssl/etcd-key.pem \
  --trusted-ca-file={{ K8S_DIR }}/etc/kubernetes/ssl/ca.pem \
  --peer-client-cert-auth \
  --peer-cert-file={{ ETCD_DIR }}/etc/kubernetes/ssl/etcd.pem \
  --peer-key-file={{ ETCD_DIR }}/etc/kubernetes/ssl/etcd-key.pem \
  --peer-trusted-ca-file={{ K8S_DIR }}/etc/kubernetes/ssl/ca.pem \
  --listen-peer-urls=https://{{ node_hostname | default(ansible_host) }}:2380 \
  --listen-client-urls=https://{{ node_hostname | default(ansible_host) }}:2379 \
  --advertise-client-urls=https://{{ node_hostname | default(ansible_host) }}:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster-state={{ CLUSTER_STATE }} \
  --initial-cluster={{ ETCD_NODES }} \
  --initial-advertise-peer-urls=https://{{ node_hostname | default(ansible_host) }}:2380 \
  --auto-compaction-retention=1 \
  --quota-backend-bytes=6442450944 \
  --heartbeat-interval=250 \
  --election-timeout=2000 \
  --name={{ node_hostname | default(ansible_host) }} \
  --data-dir={{ ETCD_DIR }}/lib/etcd/ 
Restart=on-failure
RestartSec=5
StartLimitInterval=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
